html, body {
    text-align: center;
}

button {
    height: 40px;
    width: 100px;
    margin: 0 20px;
    border: none;
    border-radius: 20px;
    position: absolute;
    background: #efefef;
    /*box-shadow: #c0c0c0 0 5px 15px;*/
}

#okey:hover {
    background: #c7c7c7;
}

#okey:active {
    background: #efefef;
}

#okey {
    left: calc(50vw - 140px);
    cursor: pointer;
}

#elusive {
    left: calc(50vw + 0px);
}